body{
margin: 0;
background-color:#fff;


}
h1{
    font-family:cursive ;
}

p{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
h3{
    font-family:cursive ;
    color: brown;
}